/Boresight.class
/DirectionVector.class
/Height.class
/OffsetRefAxis.class
/PhaseAngle.class
/PointedAxis.class
/StateVector.class
/Surface.class
/TargetDir.class
/TargetInert.class
/TargetTrack.class
/TestPtrParameters.class
/RotRate.class
/InitTargetPoint.class
