<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:em="http://www.mozilla.org/2004/em-rdf#">

   <description>This plug-in provides tools for mission planning.</description>
   <contributors_page>https://code.google.com/p/hipe-uplink-sim/</contributors_page>
   <properties>vega.properties</properties>

   <!-- Compatible starting user release 5.0 (build 1760), not with earlier builds -->
   <em:minVersion>5.0.1760</em:minVersion>
   <!-- Compatible with all future HIPE versions -->
   <em:maxVersion>*</em:maxVersion>
   <em:updateURL>http://10.68.182.65:8080/plugin-registry.xml</em:updateURL>


</plugin>